.compte {
	margin: 20px;
	border: 1px #fff solid;
	border-radius: 5px;
	padding: 10px;
	background-color: #E7E7E7;
	width: 300px;
	display: inline-block;
	vertical-align: middle;
}

.formAjouterCompte {
	margin-top : 10px;
	margin-left: auto;
	width: 900px;
	text-align: center;
	margin-right: auto;
}
.glyphicon{
	color:#26ADE4;
}
.compteBlock{

}