.compte {
	margin: 20px;
	border: 1px #26ADE4 solid;
	border-radius: 5px;
	padding: 10px;
	width: 300px;
}

.formAjouterCompte {
	margin-top : 10px;
	margin-left: auto;
	width: 900px;
	text-align: center;
	margin-right: auto;
}